**/.idea
**/.analysis
**/.archives
**/.results
**/.tmp
**/.database

**/*.iml

**/target

**/ae-common-content
**/gen
**/.local-README.md
/scanners/folder-scanner/.license-scanner/
/test/ae-vulnerability-mirror/
